@import "tailwindcss";


/* Optional: small global reset / font only */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #f9fafb;
  color: #0f172a; /* slate-900 */
}

body {
  margin: 0;
}
